{% extends 'docmodify/auth/base-auth.html' %} {% block content %}
  {% load static %}
  <section id="login" class="d-flex align-items-center pb-5">
    <div class="login-panel">
      <img class="logo" src="{% static 'img/logo_light.png' %}" alt="" />
      <div class="login-section">
        <div class="tab-content pb-3" id="myTabContent">
          <div class="pt-5">
            <form method="POST">
              {% csrf_token %}
              {% comment %} <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> Your password has been sent to your email.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
              </div> {% endcomment %}

              <div class="mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><img src="{% static 'img/icon/email.svg' %}" alt="" /></span>
                  </div>
                  <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email">
                </div>
                {% if form.email.errors %}
                  <div class="text-start d-block text-danger">{{ form.email.errors.0 }}</div>
                {% endif %}
              </div>

              <div class="mb-3">
                <button class="btn submit-btn" type="submit">Request for Password</button>
              </div>

              <div class="mb-3 forget d-flex justify-content-center">
                <a href="{% url 'admin-login' %}" class="text-primary">Go to login page</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
