{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Document List</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'document_create' %}" class="btn btn-primary mb-2">Add Document</a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in documents %}
          <tr>
            <td>{{ doc.title }}</td>
            <td>{{ doc.description }}</td>
            <td>
              <a href="{% url 'document_lhsetup' doc.id %}" class="btn btn-success btn-sm">Setup Letterhead</a>
              <a href="{% url 'document_edit' doc.id %}" class="btn btn-primary btn-sm">Edit</a>
              <a href="{% url 'document_delete' doc.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
