{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


    <link rel="stylesheet" href="{% static 'css/lh_setup_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lh_setup_custom.css' %}">
    <title>Document</title>
</head>

<body>

    <div id="letterhead-body">
        <div class="left-panel">
            <div class="row row-cols-2 g-2 letterhead-items">
                {% if default_header_footer %}
                <div class="letterhead-item selected" 
                     data-document-id="{{ document.id }}" 
                     data-header="{{ default_header_footer.header }}" 
                     data-footer="{{ default_header_footer.footer }}">
                    <img class="preview-image" src="{{ default_header_footer.body }}" alt="Default Preview">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="content-panel">
            <div class="zoom-buttons">
                <div class="input-group input-group-sm">
                    <button id="zoomOutBtn" class="input-group-text">-</button>
                    <div id="zoomInput" class="form-control  text-center">
                        100%
                    </div>
                    <button id="zoomInBtn" class="input-group-text">+</button>
                </div>
            </div>
            <div class="content">
                <div id="a4panel">
                    <img id="logoShow" src="img/logo.jpg" alt="">
                    <div id="phoneShow">
                        01736234377 asdasd<br>
                        01916120927
                    </div>
                    <div id="emailShow">
                        admin@gmail.com <br>
                        mail@example.com
                    </div>
                    <div id="locationShow">
                        123, Main Street, <br>
                        Dhaka, Bangladesh.
                    </div>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <div class="mb-3">
                <button class="btn btn-primary" id="getCss">Get CSS</button>
                <button class="btn btn-success" id="saveCss">Save</button>
            </div>
            <div class="d-flex align-items-center mb-3 gap-3">
                <h5 class="m-0">Download </h5>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-outline-danger" id="downloadPdf">PDF</button>
                    <button class="btn btn-outline-secondary" id="downloadPng">PNG</button>
                    <button class="btn btn-outline-success" id="downloadJpg">JPG</button>
                </div>
            </div>
            <div class="logo-change-panel">
                <h5>Logo </h5>
                <div class="logo-panel">
                    <img id="logoPreview" class="logo" src="img/logo.jpg" alt="Logo Preview">
                    <label for="logoInput" class="change-logo">Change</label>
                </div>
                <input type="file" hidden id="logoInput" class="form-control" accept="image/*">
                <div class="input-group input-group-sm mt-1">
                    <input type="number" class="form-control" id="logoLeft" placeholder="Left">
                    <input type="number" class="form-control" id="logoRight" placeholder="Right">
                    <input type="number" class="form-control" id="logoTop" placeholder="Top">
                    <input type="number" class="form-control" id="logoBottom" placeholder="Bottom">
                </div>
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Width</span>
                    <input type="number" class="form-control" id="logoWidthInput" placeholder="Width">
                    <span class="input-group-text">Height</span>
                    <input type="number" class="form-control" id="logoHeightInput" placeholder="Height">
                </div>

            </div>
            <hr>
            <div class="single-content-panel">
                <h5 class="title">Phone</h5>
                <textarea name="" rows="2" id="phoneInput" class="form-control form-control-sm"></textarea>
                <div class="input-group  input-group-sm">
                    <input type="number" class="form-control" id="phoneLeft" placeholder="Left">
                    <input type="number" class="form-control" id="phoneRight" placeholder="Right">
                    <input type="number" class="form-control" id="phoneTop" placeholder="Top">
                    <input type="number" class="form-control" id="phoneBottom" placeholder="Bottom">
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-text">
                        <i id="phoneLeftAlign" class="fa-solid fa-align-left align-icon"></i>
                    </span>
                    <span class="input-group-text">
                        <i id="phoneCenterAlign" class="fa-solid fa-align-center align-icon selected"></i>
                    </span>
                    <span class="input-group-text">
                        <i id="phoneRightAlign" class="fa-solid fa-align-right align-icon"></i>
                    </span>
                    <b class="input-group-text">
                        <span style="width: 16px;" id="phoneBoldInput">B</span>
                    </b>
                    <i class="input-group-text">
                        <span style="width: 16px;" id="phoneItalicInput">i</span>
                    </i>
                    <input type="color" class="form-control form-control-sm form-control-color" id="phoneColorInput">
                </div>
                <div class="input-group input-group-sm">
                    <select name="" id="phoneFontFamily" class="form-select form-select-sm">
                        <option value="">Font Family</option>
                        <option value='"Times New Roman", Times, serif'>Times New Roman</option>
                        <option value='"Courier New", Courier, monospace'>Courier New</option>
                        <option value='"Lucida Console", Monaco, monospace'>Lucida Console</option>
                        <option value='"Arial Black", Gadget, sans-serif'>Arial Black</option>
                        <option value='"Comic Sans MS", cursive, sans-serif'>Comic Sans MS</option>
                        <option value='"Georgia", serif'>Georgia</option>
                        <option value='"Impact", Charcoal, sans-serif'>Impact</option>
                        <option value='"Palatino Linotype", "Book Antiqua", Palatino, serif'>Palatino Linotype</option>
                        <option value='"Tahoma", Geneva, sans-serif'>Tahoma</option>
                    </select>

                    <input type="number" style="max-width: 80px;" class="form-control" id="phoneFontSize"
                        placeholder="Size">
                </div>
            </div>

            <div class="single-content-panel">
                <h5 class="title">Email</h5>
                <textarea name="" id="emailInput" rows="2" class="form-control form-control-sm"></textarea>
                <div class="input-group input-group-sm">
                    <input type="number" class="form-control" id="emailLeft" placeholder="Left">
                    <input type="number" class="form-control" id="emailRight" placeholder="Right">
                    <input type="number" class="form-control" id="emailTop" placeholder="Top">
                    <input type="number" class="form-control" id="emailBottom" placeholder="Bottom">
                </div>

                <div class="input-group input-group-sm">
                    <span class="input-group-text">
                        <i id="emailLeftAlign" class="fa-solid fa-align-left align-icon"></i>
                    </span>
                    <span class="input-group-text">
                        <i id="emailCenterAlign" class="fa-solid fa-align-center align-icon selected"></i>
                    </span>
                    <span class="input-group-text">
                        <i id="emailRightAlign" class="fa-solid fa-align-right align-icon"></i>
                    </span>
                    <b class="input-group-text">
                        <span style="width: 16px;" id="emailBoldInput">B</span>
                    </b>
                    <i class="input-group-text">
                        <span style="width: 16px;" id="emailItalicInput">i</span>
                    </i>
                    <input type="color" class="form-control form-control-sm form-control-color" id="emailColorInput">
                </div>

                <div class="input-group input-group-sm">
                    <select name="" id="emailFontFamily" class="form-select form-select-sm">
                        <option value="">Font Family</option>
                        <option value='"Times New Roman", Times, serif'>Times New Roman</option>
                        <option value='"Courier New", Courier, monospace'>Courier New</option>
                        <option value='"Lucida Console", Monaco, monospace'>Lucida Console</option>
                        <option value='"Arial Black", Gadget, sans-serif'>Arial Black</option>
                        <option value='"Comic Sans MS", cursive, sans-serif'>Comic Sans MS</option>
                        <option value='"Georgia", serif'>Georgia</option>
                        <option value='"Impact", Charcoal, sans-serif'>Impact</option>
                        <option value='"Palatino Linotype", "Book Antiqua", Palatino, serif'>Palatino Linotype</option>
                        <option value='"Tahoma", Geneva, sans-serif'>Tahoma</option>
                    </select>

                    <input type="number" style="max-width: 80px;" class="form-control" id="emailFontSize"
                        placeholder="Size">
                </div>

            </div>

            <div class="single-content-panel">
                <h5 class="title">Location</h5>
                <textarea name="" id="locationInput" rows="2" class="form-control form-control-sm"></textarea>

                <div class="input-group input-group-sm">
                    <input type="number" class="form-control" id="locationLeft" placeholder="Left">
                    <input type="number" class="form-control" id="locationRight" placeholder="Right">
                    <input type="number" class="form-control" id="locationTop" placeholder="Top">
                    <input type="number" class="form-control" id="locationBottom" placeholder="Bottom">
                </div>

                <div class="input-group input-group-sm">
                    <span class="input-group-text">
                        <i id="locationLeftAlign" class="fa-solid fa-align-left align-icon"></i>
                    </span>
                    <span class="input-group-text">
                        <i id="locationCenterAlign" class="fa-solid fa-align-center align-icon selected"></i>
                    </span>
                    <span class="input-group-text">
                        <i id="locationRightAlign" class="fa-solid fa-align-right align-icon"></i>
                    </span>
                    <b class="input-group-text">
                        <span style="width: 16px;" id="locationBoldInput">B</span>
                    </b>
                    <i class="input-group-text">
                        <span style="width: 16px;" id="locationItalicInput">i</span>
                    </i>
                    <input type="color" class="form-control form-control-sm form-control-color" id="locationColorInput">
                </div>

                <div class="input-group input-group-sm">
                    <select name="" id="locationFontFamily" class="form-select form-select-sm">
                        <option value="">Font Family</option>
                        {% for font in fonts %}
                            <option value="{{ font.font_family }}">{{ font.name }}</option>
                        {% empty %}
                            <option value='"Times New Roman", Times, serif'>Times New Roman</option>
                            <option value='"Courier New", Courier, monospace'>Courier New</option>
                            <option value='"Lucida Console", Monaco, monospace'>Lucida Console</option>
                            <option value='"Arial Black", Gadget, sans-serif'>Arial Black</option>
                            <option value='"Comic Sans MS", cursive, sans-serif'>Comic Sans MS</option>
                            <option value='"Georgia", serif'>Georgia</option>
                            <option value='"Impact", Charcoal, sans-serif'>Impact</option>
                            <option value='"Palatino Linotype", "Book Antiqua", Palatino, serif'>Palatino Linotype</option>
                            <option value='"Tahoma", Geneva, sans-serif'>Tahoma</option>
                        {% endfor %}
                    </select>
                    <input type="number" style="max-width: 80px;" class="form-control" id="locationFontSize" placeholder="Size">
                </div>

            </div>

            <div class="single-content-panel header">
                <h5 class="title">Header</h5>
                <div id="headerChangePanel">
                    {% for img in header_footer_images %}
                        {% if img.header %}
                        <div class="header-item {% if img.is_default %}selected{% endif %}" 
                             data-hf-id="{{ img.id }}" 
                             data-header="{{ img.header.url }}">
                            <img class="header-item-img" src="{{ img.header.url }}" alt="Header Image">
                        </div>
                        {% endif %}
                    {% empty %}
                        <div class="header-item" data-hf-id="" data-header="">
                            <img class="header-item-img" src="" alt="No Header Available">
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="single-content-panel footer">
                <h5 class="title">Footer</h5>
                <div id="footerChangePanel">
                    {% for img in header_footer_images %}
                        {% if img.footer %}
                        <div class="footer-item {% if img.is_default %}selected{% endif %}" 
                             data-hf-id="{{ img.id }}" 
                             data-footer="{{ img.footer.url }}">
                            <img class="footer-item-img" src="{{ img.footer.url }}" alt="Footer Image">
                        </div>
                        {% endif %}
                    {% empty %}
                        <div class="footer-item" data-hf-id="" data-footer="">
                            <img class="footer-item-img" src="" alt="No Footer Available">
                        </div>
                    {% endfor %}
                </div>
            </div>            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>


    <script src="{%static 'js/lh_setup_custom.js' %}"></script>
    {% csrf_token %}
    <script>
        $(document).ready(function() {
//header item click event
    $(document).on("click", ".header-item, .footer-item", function () {
        $(".header-item").removeClass("selected");
        $(".footer-item").removeClass("selected");
        const dataId = $(this).data("hf-id");

        const headerItem = $('.header-item[data-hf-id="' + dataId + '"]');
        const headerSrc = headerItem.data("header");

        const footerItem = $('.footer-item[data-hf-id="' + dataId + '"]');
        const footerSrc = footerItem.data("footer");

        headerItem.addClass("selected");
        footerItem.addClass("selected");

        $("#a4panel").css("background-image", `url('${headerSrc}'), url('${footerSrc}')`);
    });
  
            // get css
  function getCss() {
    const elements = {
      phoneShow: [
        "left",
        "right",
        "top",
        "bottom",
        "font-weight",
        "font-style",
        "font-family",
        "font-size",
        "color",
        "text-align",
      ],
      emailShow: [
        "left",
        "right",
        "top",
        "bottom",
        "font-weight",
        "font-style",
        "font-family",
        "font-size",
        "color",
        "text-align",
      ],
      locationShow: [
        "left",
        "right",
        "top",
        "bottom",
        "font-weight",
        "font-style",
        "font-family",
        "font-size",
        "color",
        "text-align",
      ],
      logoShow: ["left", "right", "top", "bottom", "height", "width"],
    };

    let cssOutput = "";

    Object.entries(elements).forEach(([id, props]) => {
      const el = document.getElementById(id);
      if (el) {
        const styles = window.getComputedStyle(el);
        cssOutput += `#${id}{`;
        props.forEach((prop) => {
          const val = styles.getPropertyValue(prop);
          if (val && val.trim()) {
            cssOutput += `${prop}:${val.trim()};`;
          }
        });
        cssOutput += "}";
      }
    });

    return cssOutput;
  }


            // Handle header item selection
          
        
            // Handle footer item selection
            $('.footer-item').on('click', function() {
                // Get the selected footer's ID
                const selectedId = $(this).data('hf-id');
        
                // Update footer items
                $('.footer-item').removeClass('selected');
                $(this).addClass('selected');
        
                // Update corresponding header item with matching data-hf-id
                $('.header-item').removeClass('selected');
                $(`.header-item[data-hf-id="${selectedId}"]`).addClass('selected');
            });

            // get css
            $("#saveCss").on("click", function () {
                // Get the selected header or footer item's ID
                const selectedId = $(".header-item.selected, .footer-item.selected")
                  .first()
                  .data("hf-id");
                // Get the CSS using the getCss function
                const css = getCss();
                // Send AJAX request to save the CSS
                $.ajax({
                  url: "", // The same URL as the current page
                  type: "POST",
                  data: {
                    selected_id: selectedId,
                    css: css,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                  },
                  headers: {
                    "X-Requested-With": "XMLHttpRequest",
                  },
                  success: function (response) {
                    if (response.success) {
                      console.log("CSS saved successfully");
                      // Optionally show a success message or update UI
                    } else {
                      console.error("Error:", response.error);
                    }
                  },
                  error: function () {
                    console.error("AJAX request failed");
                  },
                });
              });
        });

    </script>

</body>

</html>