{% extends 'docmodify/auth/base-auth.html' %}

{% block content %}
  {% load static %}
  <section id="login" class="d-flex align-items-center pb-5">
    <div class="login-panel">
      <img class="logo" src="{%static 'img/logo_light.png' %}" alt="" />
      <div class="login-section">
        <div class="tab-content pb-3" id="myTabContent">
          <div class="pt-5">
            <form action="#">
              <!-- your password reset successfully design -->
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> We have sent a verification email to your provided email address. Please check your inbox and verify your email to complete the registration process.
                <div class="mt-3 text-center">
                  <p>If you did not receive the email, <a href="{% url 'resend_verification' %}">Resend verification email</a>.</p>
                </div>
              </div>
              <div class="mb-3">
                <a href="{% url 'login' %}" class="btn submit-btn" type="submit">Go to Login Page</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
