#letterhead-body {
  width: 100%;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
}
#letterhead-body .form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}
#letterhead-body .left-panel {
  height: 100%;
  overflow-y: auto;
  padding: 25px;
  border-right: 1px solid #ccc;
}
#letterhead-body .left-panel .letterhead-items .letterhead-item {
  cursor: pointer;
}
#letterhead-body .left-panel .letterhead-items .letterhead-item img {
  width: 100%;
}
#letterhead-body .left-panel .letterhead-items .letterhead-item.selected {
  border: 2px solid #007bff;
}
#letterhead-body .content-panel {
  overflow: hidden;
  overflow-y: auto;
  padding: 20px 30px;
  background-color: #eeeeee;
  background-color: #dddddd;
}
#letterhead-body .content-panel .zoom-buttons {
  position: sticky;
  top: 0;
  z-index: 2;
  margin: 0 auto;
  max-width: 110px;
  margin-bottom: 10px;
}
#letterhead-body .content-panel .zoom-buttons #zoomInput {
  font-weight: bold;
}
#letterhead-body .content-panel .content #a4panel {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  width: 8.27in;
  height: 11.69in;
  margin: 0 auto;
  transform-origin: top center;
  transform: scale(0.75);
  transition: transform 0.4s ease;
  background-color: #fff;
  transition: transform 0.4s ease;
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: 100% auto, 100% auto;
}
#letterhead-body .right-panel {
  padding: 25px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}
#letterhead-body .right-panel .logo-panel {
  overflow: hidden;
  width: 140px;
  position: relative;
  z-index: 0;
}
#letterhead-body .right-panel .logo-panel .logo {
  width: 100%;
}
#letterhead-body .right-panel .logo-panel .change-logo {
  height: 0;
  overflow: hidden;
  transition: 0.1s ease;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
#letterhead-body .right-panel .logo-panel:hover .change-logo {
  height: 100%;
}
#letterhead-body .right-panel .single-content-panel {
  margin-top: 15px;
}
#letterhead-body .right-panel .single-content-panel .title {
  font-size: 18px;
  margin: 0;
}
#letterhead-body .right-panel .single-content-panel.header .title {
  margin-bottom: 8px;
}
#letterhead-body .right-panel .single-content-panel.header .header-item {
  margin-bottom: 7px;
  border: 1px solid #ccc;
  opacity: 0.8;
  cursor: pointer;
}
#letterhead-body .right-panel .single-content-panel.header .header-item .header-item-img {
  width: 100%;
}
#letterhead-body .right-panel .single-content-panel.header .header-item.selected {
  border: 2px solid #007bff;
  opacity: 1;
}
#letterhead-body .right-panel .single-content-panel.header .header-item:hover {
  opacity: 1;
}
#letterhead-body .right-panel .single-content-panel.footer .title {
  margin-bottom: 8px;
}
#letterhead-body .right-panel .single-content-panel.footer .footer-item {
  margin-bottom: 7px;
  border: 1px solid #ccc;
  opacity: 0.8;
  cursor: pointer;
}
#letterhead-body .right-panel .single-content-panel.footer .footer-item .footer-item-img {
  width: 100%;
}
#letterhead-body .right-panel .single-content-panel.footer .footer-item.selected {
  border: 2px solid #007bff;
  opacity: 1;
}
#letterhead-body .right-panel .single-content-panel.footer .footer-item:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */